#Layer_1 {
    display: inline-block;
    width: auto;
    margin-top: 6rem;
    min-height: 35vh;
    max-height: 15vh;
}

#Layer_2 {
       display: inline-block;
    width: auto;
    margin-top: 1rem;
    min-height: 12vh;
    max-height: 15vh; 
}


    /* 
svg{ fill: white;}
svg:hover path{
    fill: #1783D1;
} */
 
/* saved colors
#e95420
#953b39
c34113


*/

/* navbar color */
.navbar-default {
    background-color: rgba(221, 160, 221, .5);
    border-color: rgba(221, 160, 221, .5)
    
}

/* login button */
.btn-danger {
    color: #ffffff;
    background-color: #DDA0DD;
    border-color:#DDA0DD;
}

/* signup button */
.btn-danger:active,
.btn-danger.active,
.open>.dropdown-toggle.btn-danger {
    color: #ffffff;
    background-color: rgba(221, 160, 221, .5);
    border-color:  rgba(221, 160, 221, .5);
}

/* main text area */
.panel {
    margin-bottom: 20px;
    background-color: rgba(225, 225, 225, .2);
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05)
}

/* post new message */
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: rgba(225, 225, 225, .6);
    border: 1px solid #dddddd
}


/* navbar bottom margin 5613 */