<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ title }}</title>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{{url_for('static', filename='./bs/css/united.min.css') }}">
		<link rel="stylesheet" href="./css/styles.css">
    
		<div class="container-fluid">
			<div class="row" id="banner">
				<div class="title col-lg-12">
					<p class="title">
                        <a href="./">twitter-clone</a>
                        <p class="subtitle">...less toxic then the actual twitter</p>
                    </p>

                    <form class="form-inline" action="{{ url_for('search', query=query) }}" method="POST">
                    {{ form.csrf_token }}
                    <div style="text-align: right;">

                    <div class="form-group">
                        {{ form.text.label(class="form-control-label") }}
        
                        {% if form.text.errors %}
                            {{ form.text(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.text.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.text(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
            
                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Search</button>
                    </div>
                    
                </div>
			</div>
        </div>
        
       
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{{ url_for('index') }}">twitter-clone</a>
				</div>
		
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav navbar-right">
                        
                        {% if current_user.is_authenticated %}
                            <li class="active"><a href="{{ url_for('timeline') }}">Timeline</a></li>
                            <li class=""><a href="{{ url_for('profile') }}">My Profile</a></li>
                            <li class=""><a href="{{ url_for('update_account') }}">Update Account</a></li>
                            <li class=""><a href="{{ url_for('logout') }}">Logout</a></li>
                        {% else %}
                            <li class=""><a href="{{ url_for('register') }}">Sign Up</a></li>
                            <li class=""><a href="{{ url_for('login') }}">Log In</a></li>
                        {% endif %}
					</ul>
                </div>
			</div>
        </nav>
    </head>

	<body>
    <div class="container">
        <div class="row">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class='alert-{{ category }}'>
                        {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            </div>
        </div>
    </div>
        {% block content %}{% endblock %}      
    </body>

    <!-- jQuery -->
        <script src="{{ url_for('static', filename='bs/js/jquery.min.js') }}"></script>
        <!-- Bootstrap JavaScript -->
        <script src="{{ url_for('static', filename='bs/js/bootstrap.min.js') }}"></script>
</html>