{% extends "layout.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row pad">
        <div class="col-lg-4 col-lg-offset-4 pad">
            <h2 class="text-center bold">Log In</h2>

            <br/>

            <form action="{{ url_for('login') }}" method="POST">
            {{ form.csrf_token }}

            <div class="form-group">
                {{ form.username.label(class="form-control-label") }}

                {% if form.username.errors %}
                    {{ form.username(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.username(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.password.label(class="form-control-label") }}
                
                {% if form.password.errors %}
                    {{ form.password(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-danger btn-block">Log In</button>
            </div>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Need An Account? <a class="ml-2" href="{{ url_for('register') }}">Sign Up</a>
                </small>
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}