{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="text-center bold">Timeline</h3>
        </div>

        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row pad">
                        <div class="col-lg-12">
                            <img src="./imgs/anonymous.png" class="img-responsive img-circle center-block" alt="Image" />
                        </div>
                    </div>
                    <div class="row pad">
                        <div class="col-lg-4 col-lg-offset-2 text-center">
                            <strong>
                                Tweets <br />
                                50 
                            </strong> 
                        </div>
                        <div class="col-lg-4 text-center">
                            <strong>
                                Followers <br />
                                350 
                            </strong>
                        </div>
                    </div>
                </div>
                <ul class="list-group">
                    <a class="list-group-item" data-toggle="modal" href="#newPost" data-backdrop="static" data-keboard="false">
                        <i class="glyphicon glyphicon-plus-sign"></i> Post New Message
                    </a>
                </ul>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="thumbnail">
                                <div class="caption">
                                    <div class="row">
                                        <div class="col-lg-10">
                                            <!-- <i class="glyphicon glyphicon-user"></i>  -->
                                            <img src="./imgs/anonymous.png" style="width: 30px; height: 30px;" class="img-circle">
                                            <strong>Re-l</strong> 
                                            <small><em>@realproxy</em></small>
                                        </div>
                                        <div class="col-lg-2 text-right">
                                            15m
                                        </div>
                                    </div>
                                    <div class="row pad">
                                        <div class="col-lg-12">
                                            What is your reason dentre. <a href="#">#whoAmI</a> <a href="#">#Illusion</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="thumbnail">
                                <div class="caption">
                                    <div class="row">
                                        <div class="col-lg-10">
                                            <!-- <i class="glyphicon glyphicon-user"></i>  -->
                                            <img src="./imgs/anonymous.png" style="width: 30px; height: 30px;" class="img-circle">
                                            <strong>Re-l</strong> 
                                            <small><em>@realproxy</em></small>
                                        </div>
                                        <div class="col-lg-2 text-right">
                                            1h
                                        </div>
                                    </div>
                                    <div class="row pad">
                                        <div class="col-lg-12">
                                            The self is an illusion <a href="#">#freewill</a> <a href="#">#wakingup</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="thumbnail">
                                <div class="caption">
                                    <div class="row">
                                        <div class="col-lg-10">
                                            <!-- <i class="glyphicon glyphicon-user"></i>  -->
                                            <img src="./imgs/anonymous.png" style="width: 30px; height: 30px;" class="img-circle">
                                            <strong>Re-l</strong> 
                                            <small><em>@realproxy</em></small>
                                        </div>
                                        <div class="col-lg-2 text-right">
                                            3h
                                        </div>
                                    </div>
                                    <div class="row pad">
                                        <div class="col-lg-12">
                                            What is your purpose. <a href="#">#nihilism</a> <a href="#">#extanilism</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="thumbnail">
                                <div class="caption">
                                    <div class="row">
                                        <div class="col-lg-10">
                                            <!-- <i class="glyphicon glyphicon-user"></i>  -->
                                            <img src="./imgs/anonymous.png" style="width: 30px; height: 30px;" class="img-circle">
                                            <strong>Re-l</strong> 
                                            <small><em>@realproxy</em></small>
                                        </div>
                                        <div class="col-lg-2 text-right">
                                            4h
                                        </div>
                                    </div>
                                    <div class="row pad">
                                        <div class="col-lg-12">
                                            A strange day. <a href="#">#mysterious</a> <a href="#">#theAbsurd</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="thumbnail">
                                <div class="caption">
                                    <div class="row">
                                        <div class="col-lg-10">
                                            <!-- <i class="glyphicon glyphicon-user"></i>  -->
                                            <img src="./imgs/anonymous.png" style="width: 30px; height: 30px;" class="img-circle">
                                            <strong>Vincent Law</strong> 
                                            <small><em>@proxyOne</em></small>
                                        </div>
                                        <div class="col-lg-2 text-right">
                                            7h
                                        </div>
                                    </div>L
                                    <div class="row pad">
                                        <div class="col-lg-12">
                                            <a href="#">#theCalling</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Who To Watch</h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        Anime 
                        <div>
                            <strong>@AnimeCentral</strong> 
                            <span class="pull-right">
                                1,111,333 Followers
                            </span>
                        </div>
                    </li>
                    <li class="list-group-item">
                        WeatherChannel
                        <div>
                            <strong>@TheWeather</strong> 
                            <span class="pull-right">
                                13,775 Followers
                            </span>
                        </div>
                    </li>
                    <li class="list-group-item">
                        Leonardo Rumlow
                        <div>
                            <strong>@rummYLEO</strong> 
                            <span class="pull-right">
                                350 Followers
                            </span>
                        </div>
                    </li>
                    <li class="list-group-item">
                        The Cable People
                        <div>
                            <strong>@theCablePeeps</strong> 
                            <span class="pull-right">
                                19,004 Followers
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <footer>
        <div class="row pad">
            <div class="col-lg-12 text-center">
               FOOTER
            </div>
        </div>
    </footer>

    <div class="modal fade" id="newPost">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Post New Message</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="form-group">
                                <label>Enter new <a href="./">Eng@ge!</a> post</label>
                                <textarea name="message" id="message" class="form-control" rows="6" required="required" placeholder="Enter your new message here."></textarea>
                            </div>
                            <div class="form-group">
                                By posting on our platform, you agree to our <a href="#">Terms and Conditions</a>.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <i class="glyphicon glyphicon-ban-circle"></i> Close
                    </button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">
                        <i class="glyphicon glyphicon-send"></i> Post
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}