<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>twitter-clone Register</title>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{{url_for('static', filename='./bs/css/united.min.css') }}">
		<link rel="stylesheet" href="./css/styles.css">
	</head>
	<body>

		<div class="container-fluid">
			<div class="row reg-page-banner" id="banner">
				<div class="title col-lg-12">
					<p class="title">
						<a href="./">twitter-clone</a>
					</p>
					<p class="subtitle">......less toxic then the actual twitter</p>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div class="row pad">
				<div class="col-lg-4 col-lg-offset-4 pad">
					<h2 class="text-center bold">Join twitter-clone</h2>

					<br />

					<form action="{{ url_for('register') }}" method="POST" enctype="multipart/form-data">
					{{ form.csrf_token }}

					<div class="form-group"> 
						{{ form.name(class="form-control", placeholder="Enter your full name") }}
					</div>
					
					<div class="form-group"> 
							{{ form.username(class="form-control", placeholder="Enter your Username") }}
					</div>

					<div class="form-group"> 
							{{ form.password(class="form-control", placeholder="Enter your Password") }}
					</div>

					<div class="form-group">
						<label for="exampleFormControlFile1">Profile image</label>
						{{ form.image(class="form-control-file") }}
  					</div>

					<div class="form-group">
						<button type="submit" class="btn btn-danger btn-block">Sign up</button>
					</div>

					</form>

					<div class="form-group">
						<a href="./"><i class="glyphicon glyphicon-arrow-left"></i> Back</a>
					</div>
				</div>
			</div>
		</div>

		<!-- jQuery -->
		<script src="./bs/js/jquery.min.js"></script>
		<!-- Bootstrap JavaScript -->
		<script src="./bs/js/bootstrap.min.js"></script>
	</body>
</html>