{% extends 'layout.html' %}
{% block content %}

<div class="container" id="tweetspannel">
    <div class="col-lg-6" id="tweets-Container">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="thumbnail">
                            <div class="caption">
                                <div class="row">
                                    <div class="col-lg-10">
                                        <img src="{{ image_file }}" style="width: 30px; height: 30px;" class="img-circle">
                                        <strong>{{ tweet.user.name }}</strong> 
                                        <small><a href="{{ url_for('users.profile', username=tweet.user.username) }}">@{{ tweet.user.username }}</a></small>
                                    </div>
                                    <div class="col-lg-2 text-right">
                                        {{ (current_time - tweet.date_created) |time_passed }}
                                    </div>
                                </div>
                                <div class="row pad">
                                    <div class="col-lg-12">
                                        {{ tweet.text }}
                                    </div>
                                </div>
                                {% if tweet.user_id == current_user.id %}
                                    <button type="button" id="del-button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteModal">
                                            <i class="fa fa-trash fa-lg" aria-hidden="true"></i>
                                    </button>
                                {% endif %}
                            </div>
                        </div>

                                {% for reply in replies %}
                                <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="thumbnail">
                                                <div class="caption">
                                                    <div class="row">
                                                        <div class="col-lg-10">
                                                            <img src="{{ reply.image }}" style="width: 30px; height: 30px;" class="img-circle">
                                                            <strong>{{ reply.name }}</strong>
                                                            <small><a href="{{ url_for('users.profile', username=reply.username) }}">@{{ reply.username }}</a></small>
                                                        </div>
                                                        <div class="col-lg-2 text-right">
                                                            {{ (current_time - reply.date_created) |time_passed }}
                                                        </div>
                                                    </div>
                                                    <div class="row pad">
                                                        <div class="col-lg-12">
                                                            {{ reply.text }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                <ul class="list-group">
                                    <a class="list-group-item" data-toggle="modal" href="#newPost" data-backdrop="static" data-keboard="false">
                                        <i class="glyphicon glyphicon-plus-sign"></i> Post Reply
                                    </a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<div class="modal fade" id="newPost">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Post Reply</h4>
            </div>

            <form action="{{ url_for('tweets.replies', tweet_id=tweet.id) }}" method="POST" id="del-Box-Sub">
                <div class="modal-body">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="form-group">
                            {{ form.csrf_token }}
                            <label>Reply</label>
                            {{ form.reply(class='form-control', rows=6, required=required,
                            placeholder='Enter Your Reply Here')}}
                        </div>
                        <div class="form-group">
                            By posting on our platform, you agree to our <a href="#">Terms and Conditions</a>.
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <i class="glyphicon glyphicon-ban-circle"></i> Close
                </button>
                <button type="submit" class="btn btn-primary">
                    <i class="glyphicon glyphicon-send"></i> Reply
                </button>
            </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal">
    <div class="modal-dialog" id="del-Box">
        <div class="modal-content" id="del-Box-width">
            <div class="modal-header" id="del-Box-Header">
                
                <h4> Are You Sure You Want To Delete Tweet?</h4>
            </div>

            <div class="modal-footer" id="del-Box-options">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="del-Box-close">
                    Close
                </button>
    
                <form action="{{ url_for('tweets.delete_tweet', tweet_id=tweet.id) }}" method="POST">
                    <input class="btn btn-danger" type="submit" value="Delete">
                </form>
            </div>            
        </div>
    </div>
</div>
{% endblock content %}